<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Форма для вставки ссылки пользователя</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet">
    <link rel="stylesheet" href="/static/css/result.css">
</head>
<body>
<div class="container">
    <h1>Вставьте ID пользователя</h1>
    <form action="/" method="post" >
        <div class="mb-3">
            <input type="text" class="form-control" name="vkUserID" placeholder="Введите ID пользователя">
        </div>
        <button type="submit" value="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>